@import url('https://fonts.google.com/specimen/Rubik');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-family:Rubik ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height:300px;
  background-image: url(../src/Images/pattern-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h4{
  font-family: 'Rubik', sans-serif;;
}

.in-flex{
  display: flex;
  width:100%;
  justify-content: center;
}

input[type="text"]{
  padding:8px 80px;
  border:none;
  border-radius: 8px 0px 0px 8px;
}

.submit{
  background-color: black;
  color:white;
  padding:8px 10px;
  border-radius: 0px 8px 8px 0px;
}

button:hover{
  opacity:60;
}

.search-Info{
  display:flex;
  background-color: white;
  padding:30px;
  width: 70%;
  height: 180px;
  justify-content: space-between;
  position:absolute;
  top: 210px;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  border-radius:10px 10px 0px 0px
}

h5{
  text-transform: uppercase;
}